extends layout

block content
  h2 Banking
  //
    form(method="post", enctype="multipart/form-data")
      fieldset
        legend Upload OFX
        div
          input(type="file", name="ofxfile")
        div
          button.btn(type="submit") Upload

  h3 All transactions:
  table.table.table-striped
    tr
      each entry, key in allPaymentColumns
        th= entry.t
    for payment in payments
      tr
        each entry, key in allPaymentColumns
          td= entry.f(payment[key], payment)
