extends layout

- var controlGroupClass, value, item, field
block content
  .row
    .span8.offset2
      h2 Membership Application Received
      p Please check your email '
        = email
        | ' for the email verification link and your password. We'll let you know when your registration has been approved.
