extends layout

block content
  h2 Subscription
  p We have received no subscription payments from you yet (payments may take
    |  a couple of days to show up). Please set up a standing order to:
  p Sort code: ..-..-..
    br
    | Account number: .... ....
  p Remember: subscription is pay what you think the space is worth
    |  (minimum £5/mo), but we require an average of £20/member/mo to keep
    |  the space running - please be generous!
